cachetools==5.3.3
colorama==0.4.6
google-auth==2.29.0
google-auth-oauthlib==1.2.0
gspread==6.0.2
libquadmath==1.26.4
oauthlib==3.2.2
pandas==2.2.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
pyfiglet==1.0.2
pytz==2024.1
requests-oauthlib==1.4.0
rsa==4.9
StrEnum==0.4.15
tzdata==2024.1
